services:
  mariadb:
    build: ./requirements/mariadb
    container_name: mariadb
    env_file:
      - .env
    networks:
      - wp_network
    volumes:
      - db_data:/var/lib/mysql
    restart: always

  wordpress:
    build: ./requirements/wordpress
    container_name: wordpress
    env_file:
      - .env
    networks:
      - wp_network
    volumes:
      - wp_data:/var/www/html
    depends_on:
      - mariadb
    restart: always

  nginx:
    build: ./requirements/nginx
    container_name: nginx
    env_file:
      - .env
    ports:
      - "${NGINX_PORT}:443"
    networks:
      - wp_network
    volumes:
      - wp_data:/var/www/html
    depends_on:
      - wordpress
    restart: always

volumes:
  db_data:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: /home/${LOGIN}/data/db_data
  wp_data:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: /home/${LOGIN}/data/wp_data

networks:
  wp_network:
    driver: bridge
