[mysqld]

datadir = /var/lib/mysql

socket = /run/mysqld/mysqld.sock

# connexions depuis les autres containers (écoute sur toutes les interfaces du port 3306)
port = 3306
bind-address = 0.0.0.0

# utilisateur du processus
user = mysql

log_error = /var/log/mysql/error.log
